* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

:root {
  --white: #f3f2f4;
  --bg-bluepurple: linear-gradient(0deg, #0f051d 10%, #130749 90%);
  --text-bluepurple: -webkit-linear-gradient(50deg, #0100fc, #ff00ea);
  --bg-light: #130749;
  --bg-dark: #0f051d;
}

.nav {
  width: 100%;
  background: var(--bg-light);
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.nav__logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  text-wrap: nowrap;
}

.nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
  font-size: 1.5rem;
  list-style: none;
}

.nav__link a {
  color: var(--white);
  text-decoration: none;
}

.nav__link:hover {
  cursor: pointer;
  background: #db00d9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav-icon {
  display: none;
}

/* NAV RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .nav__container {
    max-width: 1280px;
  }
  .nav__links {
    transition: none;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .nav__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .nav__container {
    max-width: 768px;
  }
  .nav__logo {
    margin-left: 1rem;
    position: sticky;
    z-index: 999;
  }
  .nav__links {
    position: absolute;
    top: -1000px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background: var(--black);
    z-index: 11;
    left: 0%;
    width: 100%;
    transition: all 0.2s linear;
    gap: 2rem;
  }
  .nav__links.active {
    display: grid;
    background: var(--bg-light);
    z-index: 11;
    top: 100px;
    left: 0%;
    width: 100%;
    transition: all 0.2s linear;
    gap: none;
    padding: 5rem;
    text-align: center;
  }
  .nav__link.active {
    padding: 5rem;
  }
  #nav-icon {
    display: flex;
    cursor: pointer;
  }

  .nav__toggle {
    display: flex;
    color: var(--white);
    font-size: 2rem;
    height: fit-content;
    z-index: 99;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .nav__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .nav__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .nav__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .nav__container {
    width: 100%;
  }
}

/* HOME */

.home {
  width: 100%;
}

.home__container {
  background: var(--bg-dark);
}

/* HERO */

.hero {
  width: 100%;
  padding-bottom: 5rem;
  background: var(--bg-bluepurple);
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 3rem;
}

.hero__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem 0rem 5rem;
}

.hero__titles > h1 {
  display: flex;
  text-align: center;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  text-transform: uppercase;
}

.hero__title-1 {
  color: var(--white);
}

.hero__title-2 {
  background: var(--text-bluepurple);
  -webkit-background-clip: text;
  color: transparent;
}

.hero__icon {
  width: 100px;
  height: auto;
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* HERO RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .hero__container {
    max-width: 1280px;
  }
  .hero__titles > h1 {
    font-size: 4rem;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .hero__container {
    max-width: 1024px;
  }
  .hero__titles > h1 {
    font-size: 3rem;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .hero__container {
    max-width: 768px;
  }
  .hero__titles > h1 {
    font-size: 2rem;
  }
  .hero__icon {
    width: 70px;
    height: auto;
    animation: move 2s infinite;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .hero__container {
    max-width: 640px;
  }
  .hero__titles {
    padding: 3rem 2rem 0rem 2rem;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .hero__container {
    max-width: 475px;
  }
  .hero__icon {
    width: 0px;
    height: auto;
    animation: move 2s infinite;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .navbar__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .hero__container {
    width: 100%;
  }
}

/* MARKET */

.market {
  width: 100%;
}

.market__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #db00d9 #fff;
}

.market__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: var(--white);
}

.market__search-title {
  font-size: 4rem;
}

.market__input {
  width: 20.8rem;
  height: 3rem;
  padding: 1rem 1rem;
  color: var(--white);
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  border: none;
  border-radius: 0.3rem;
}

.market__input::placeholder {
  color: var(--white);
  text-align: center;
}

.market__input:hover {
  font-size: 1.1rem;
}

.market-heading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2.5rem;
  min-width: 900px;
}

.market-heading__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: linear-gradient(25deg, #2600fc, #ff00ea);
  padding: 1.5rem 0rem;
  border-radius: 8px 8px 0 0;

  overflow-x: clip;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.market-heading__row p {
  color: var(--white);
  font-size: 1.5rem;
  text-wrap: nowrap;
}

/* MARKET RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .market__container {
    max-width: 1280px;
  }
  .market__search-title {
    font-size: 4rem;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .market__container {
    max-width: 1024px;
  }
  .market__search-title {
    font-size: 3rem;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .market__container {
    max-width: 768px;
  }
  .market__search-title {
    font-size: 2rem;
  }
  .market-heading__row {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.7fr 0.5fr 0.5fr 1.2fr;
  }
  .market-heading__row p {
    font-size: 1.4rem;
  }
  .market-heading__abbrev {
    margin-left: 1rem;
  }
  .market-heading__24hour {
    margin-left: 1.5rem;
  }
  .market-heading__marketcap {
    margin-left: 2rem;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .market__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .market__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .market__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .market__container {
    width: 100%;
  }
}

/* COIN */

.coin {
  width: 100%;
}

.coin__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.coin__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--white);
  color: var(--white);
  padding: 1.5rem 0rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.coin__row:hover {
  background: #11022b;
}

.coin__img-container {
  width: 10px;
  min-width: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.coin__img {
  width: 50px;
  height: 50px;
}

.coin__name {
  min-width: 200px;
}

.coin__symbol {
  min-width: 100px;
  text-transform: uppercase;
}

.coin__price {
  width: 100px;
  min-width: 150px;
}

.coin__percent {
  width: 100px;
  min-width: 100px;
}

.red {
  color: red;
}

.green {
  color: #0ecb81;
}

.coin__marketcap {
  width: 200px;
}

/* COIN RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .coin__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .coin__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .coin__container {
    max-width: 768px;
  }
  .coin__row {
    width: 100%;
    min-width: 882px;
    margin-left: 148px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .coin__container {
    max-width: 640px;
  }
  .coin__row {
    width: 100%;
    min-width: 884px;
    margin-left: 275px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .coin__container {
    max-width: 475px;
  }
  .coin__row {
    width: 100%;
    min-width: 882px;
    margin-left: 440px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .coin__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .coin__container {
    width: 100%;
  }
}

/* INFORMATION */

.info {
  width: 100%;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 10rem;
}

.info__title {
  font-size: 5rem;
  text-transform: uppercase;
  padding-bottom: 5rem;
  color: var(--white);
  text-align: center;
}

.info__title > span {
  color: transparent;
  background: var(--text-bluepurple);
  -webkit-background-clip: text;
}

.info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 8rem;
}

.info__item {
  display: flex;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 2rem;
  color: var(--white);
  background: hsla(0, 0%, 100%, 0.05);
  width: 450px;
  height: auto;
}

.info__item-icon {
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--text-bluepurple);
  font-size: 2rem;
}

.info__item-text {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.info__item-text h3 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.info__item-text p {
  font-size: 1.5rem;
  padding-top: 1rem;
}

/* INFO RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .info__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .info__container {
    max-width: 1024px;
  }
  .info__item {
    width: 430px;
    height: auto;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .info__container {
    max-width: 768px;
  }
  .info__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem 8rem;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .info__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .info__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .info__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .info__container {
    width: 100%;
  }
}

/* JOIN */

.join {
  width: 100%;
}

.join__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 5rem;
}

.join__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.join__text > h1 {
  font-size: 5rem;
  text-transform: uppercase;
  padding-top: 10rem;
  color: var(--white);
}

.join__text > p {
  color: var(--white);
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.join__title span {
  color: transparent;
  background: var(--text-bluepurple);
  -webkit-background-clip: text;
}

.join__text a {
  text-decoration: none;
  padding: 1.5rem 3rem;
  background: var(--text-bluepurple);
  border-radius: 2rem;
  color: var(--white);
  font-weight: 900;
  font-size: 1.5rem;
}

/* JOIN RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .join__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .join__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .join__container {
    max-width: 768px;
  }
  .join__container {
    gap: 3rem;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .join__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .join__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .join__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .join__container {
    width: 100%;
  }
}

/* FOOTER */

.footer {
  width: 100%;
  background: var(--bg-dark);
  padding-top: 10rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.footer__icons a {
  color: var(--white);
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: var(--white);
  font-size: 1.2rem;
}

/* FOOTER RESPONSIVE */

/* 2xl */
@media screen and (max-width: 1536px) {
  .footer__container {
    max-width: 1280px;
  }
}

/* xl */
@media screen and (max-width: 1280px) {
  .footer__container {
    max-width: 1024px;
  }
}

/* lg */
@media screen and (max-width: 1024px) {
  .footer__container {
    max-width: 768px;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .footer__container {
    max-width: 640px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .footer__container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .footer__container {
    width: 100%;
  }
}

/* 2xs */
@media screen and (max-width: 360px) {
  .footer__container {
    width: 100%;
  }
}
